* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

header {
    background: #003366;
    padding: 15px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
    
}

.nav-logo h2 {
    font-size: 24px;
    font-weight: 700;
    color: white;
}


nav ul {
    display: flex;
    gap: 1.5rem;

}

ul li {
    list-style: none;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
}

nav a:hover {
    color: #ffcc00;
}

@media screen and (max-width: 768px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;

    }
}

/* Hero Section */

.hero {
    min-height: 90vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("https://images.unsplash.com/photo-1596495578065-6e0763fa1178");

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    display: grid;
    place-items: center;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.hero-content p{
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.button .btn {
    padding: .8rem 1.5rem;
    background: #ffcc00;
    color: black;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: #ffcc009a;
}